language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
# command to install dependencies
install:
  - pip install python-coveralls
  - pip install coverage
  - pip install numpy
# command to run tests
script: 
  - python setup.py install
  - nosetests --with-coverage

after_success:
  - coveralls